:root {
  --white: #d6d6d6;
  --black: #333333;
  --green: #a2d4ab;
  --dark-green: #3eaca8;
  --blue: #547a82;
  --base-padding: 20px;
  --base-font-size: 18px;
  --base-margin: 20px;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  color: var(--black);
  font-family: "Raleway", sans-serif;
  font-size: var(--base-font-size);
  position: relative;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  background-color: var(--white);
}

.dribbble-link {
  position: absolute;
  top: 5px;
  right: 5px;
  opacity: 0.5;
  font-size: 0.8em;
  color: var(--black);
  text-decoration: none;
}

.dribbble-link.dribbble-link--white {
  color: var(--white);
}

h1,
h2,
h3,
h4,
h5,
p {
  margin: 0;
  font-size: 100%;
  line-height: 1;
}

a {
  color: #ea4c89;
}

.flex-container {
  display: flex;
  padding: var(--base-padding);
}

.flex-container.column {
  flex-direction: column;
}

.flex-container.full-height-centered {
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.intro-text {
  font-size: 1.5em;
  font-weight: 700;
  max-width: 300px;
}
